<div class="page-header">
  <h3 class="page-title">Addon List</h3>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Store Name</th>
                <th>Addon Name</th>
                <th>SKU</th>
                <th>InStock</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Description</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of addOnData; let i = index">
                <td class="py-1">{{ item?.storeID?.name }}</td>
                <td>{{ item?.name }}</td>
                <td>{{ item?.sku }}</td>
                <td>{{ item?.inStock ? "Yes" : "No" }}</td>
                <td>{{ item?.inventory?.stock }}</td>
                <td>{{ item?.sellPrice | currency }}</td>
                <td>{{ item?.description }}</td>
                <td>{{ item?.type }}</td>
                <td>
                  <button
                    class="btn btn-gradient-primary mr-2"
                    [routerLink]="'/items/edit-addon/' + item._id"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-gradient-primary mr-2"
                    (click)="deleteAdmin(item._id, i)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
